h1{
    text-align: center;
}
h2{
    text-align: center;
}

nav{
    text-align: center;
    padding-right: 25px;

}

ul{
    display: flex;
    list-style-type: none;
}
li{
    flex: auto;

}

#photo {
    width: 300px;
    border-radius: 50%;
}